<html ng-app="crudApp">
<head>
<title>AngularJS Directive Demo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="../css2/bootstrap.min.css">
<!-- Include main CSS -->
<link rel="stylesheet" type="text/css" href="index.css">
<!-- Include jQuery library -->
<script src="../js/jquery.min.js"></script>
<!-- Include AngularJS library -->
<script src="../js/angular.js"></script>
<!-- Include Bootstrap Javascript -->
<script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="container wrapper" ng-controller="DbController">
<h1 class="text-center">AngularJS CRUD Operations Demo</h1>
<nav class="navbar navbar-default">
<div class="navbar-header">
<div class="alert alert-default navbar-brand search-box">
<button class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">Add Employee <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>
<div class="alert alert-default input-group search-box">
<span class="input-group-btn">
<input type="text" class="form-control" placeholder="Search Employee Details Into Database..." ng-model="search_query">
</span>
</div>
</div>
</nav>
<div class="col-md-6 col-md-offset-3">

<!-- Include form template which is used to insert data into database -->
<div ng-include src="'templates/form.html'"></div>

<!-- Include form template which is used to edit and update data into database -->
<div ng-include src="'templates/editForm.html'"></div>
</div>

<div class="clearfix"></div>
<!-- card -->
<div class="card bg-dark user1"> 

      <!-- Modal -->
<button type="button" class="btn btn-primary bg-dark btn1" data-toggle="modal" data-target=".bd-example-modal-xl">All Users</button>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Table to show employee detalis -->
<div class="table-responsive">
        <table class="table table-hover">
        <tr>
        <th>ID</th>
        <th>username</th>
        <th>Email Address</th>
        <th>Department</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        </tr>
        <tr ng-repeat="detail in details track by $index">
        <td>
        <span>{{detail.ID}}</span></td>
        <td>{{detail.username}}</td>
        <td>{{detail.email}}</td>
        <td>{{detail.Department}}</td>
        <td>{{detail.phone}}</td>
        <td>
        <button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
        </td>
        <td>
        <button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
        </tr>
        </table>
        </div>

    </div>
  </div>
</div>
<!--  -->
</div>
<!--  -->

</div>
</div>
<!-- Include controller -->
<script src="angular-script.js"></script>
</body>
</html>